<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="js">
    <script th:inline="javascript">

        let inputs = [
            {
                label: 'Name Product',
                id: 'nameProduct',
                field: 'nameProduct',
                pattern: "^[A-Za-z\\d]{6,20}",
                message: "Gồm 6 - 20 ký tự chữ và số.",
                required: true,
                value: "",
                classDiv: 'col-md-3'
            },
            {
                label: 'Quantity',
                id: 'quantity',
                field: 'quantity',
                type: "number",
                pattern: "\\d+",
                message: "Lỗi nhập số!",
                required: true,
                value: "",
                classDiv: 'col-md-3'
            },
            {
                label: 'Price',
                id: 'price',
                field: 'price',
                type: "number",
                pattern: "\\d+",
                message: "Lỗi nhập số!",
                required: true,
                value: "",
                classDiv: 'col-md-3'
            },
            {
                label: 'Category',
                id: 'category.id',
                field: 'category',
                type: 'select',
                message: "Lỗi nhập!",
                required: true,
                options: categories.map(e => {
                    return {id: e.id, name: e.name};
                }),
                value: "",
                classDiv: 'col-md-3'
            },
        ]
        renderForm();
        function renderForm() {
            let inputForm = document.querySelector('#formBody');
            inputForm.innerHTML = "";

            inputs.forEach((prop, index) =>
                inputForm.innerHTML += formInputs(prop, index));
        }

        function formInputs(prop, index) {
            if (prop.type === 'select') {
                return formSelect(prop, index);
            }
            return `<div class="${prop.classDiv}">
                        <label for="${prop.id}" class="form-label">${prop.label}</label>
                        <input type="${prop.type || 'text'}" class="input-custom form-control" name="${prop.field}"
                        ${prop.required ? 'required' : ''}
                        onblur="onFocus(${index})"
                        ${prop.pattern ? `pattern=${prop.pattern}` : ""}
                        value="${prop.value}">
                        <span class="error">${prop.message}</span>
                    </div>`
        }

        function formSelect(prop, index) {
            let options = "";
            options += `<div class="col-md-3">
                <label for="${prop.id}" class="form-label">${prop.label}</label>
                <select id="${prop.id}" class="input-custom form-control" name="${prop.field}"  onblur="onFocus(${index})"
                ${prop.pattern ? `pattern=${prop.pattern}` : ""} value="${prop.value}">
                `
            prop.options.forEach(category => {
                options += ` <option value="${category.id}" >${category.name}</option>`
            })
            options += `</select></div>`
            return options;
        }

        const onFocus = (index) => {
            const inputsForm = document.querySelectorAll('#formBody .input-custom')
            inputsForm[index].setAttribute("focused", "true");
        }

        document.addEventListener('invalid', (function () {
            return function (e) {
                e.preventDefault();
                e.target.onblur();
            };
        })(), true);


    </script>
</div>