<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="js">
    <script th:inline="javascript">
        let body = document.getElementById("body-data");
        let products = [];
        let search;
        let page = 0;
        let totalPages = 0;
        let pageSize = 0;
        let sortField = "id";
        let sortBy = "ASC";
        let minPrice = 0;
        let maxPrice = 100000;

        initData(0);

        function initData(pageStep) {
            page = pageStep;
            body.innerHTML = "";
            $.ajax({
                url: `http://localhost:8080/api/products?search=${search || ""}&page=${page || "0"}&sort=${sortField},${sortBy}&minPrice=${minPrice}&maxPrice=${maxPrice}`,
                method: "get",
            }).done(data => {
                products = data.content;
                totalPages = data.totalPages;
                pageSize = data.pageable.pageSize;
                console.log(data);
                products.forEach((product, index) => {
                    body.innerHTML += `
                           <tr>
                                <td>${(pageSize * page) + index + 1}</td>
                                <td>${product.nameProduct}</td>
                                <td>${product.quantity}</td>
                                <td>${product.price}</td>
                                <td>${product.category}</td>
                                <td>
                                    <button type="button" class="btn btn-primary" onclick="showForm(${index})" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>
                                    <button type="button" class="btn btn-primary" onclick="deleteProduct(${product.id})">Delete</button>
                                </td>
                            </tr>`
                })
            })
            renderPage();
            renderSortButton();
        }

        function submitSearch(e) {
            e.preventDefault();
            minPrice = 0;
            document.getElementById("min").value = 0;
            maxPrice = 100000;
            document.getElementById("max").value = 100000;
            search = document.getElementById("search").value;
            initData(0);
        }

        const changePage = (pageStep) => {
            if (pageStep <= 0)
                pageStep = 0;
            if (pageStep + 1 >= totalPages)
                pageStep = totalPages - 1;
            if (pageStep == page)
                return;
            page = pageStep;
            initData(page);
        }

        function renderPage() {
            let pageForm = document.getElementById("pagination");
            pageForm.innerHTML = "";
            let pagePage = "";
            pagePage += `
            <ul class="pagination justify-content-center">
                <li class="page-item ${page <= 0 ? "disabled" : ""}">
                    <a class="page-link" tabindex="-1" aria-disabled="${page <= 0 ? "true" : ""}"
                    ${page > 0 ? `onclick="changePage(${page - 1})"` : ""}>Previous</a>
                </li>`;
            if (page <= 1 || totalPages <= 3) {
                pagePage += `
                <li class="page-item ${page == 0 ? "active" : ""}"><a class="page-link" onclick="changePage(0)"">1</a></li>
                <li class="page-item ${page == 1 ? "active" : ""}"><a class="page-link" onclick="changePage(1)"">2</a></li>
                <li class="page-item ${page == 2 ? "active" : ""}"><a class="page-link" onclick="changePage(2)"">3</a></li>`;
            } else if (page >= totalPages - 2) {
                pagePage += `
                <li class="page-item ${page == totalPages - 3 ? "active" : ""}"><a class="page-link" onclick="changePage(${totalPages - 3})">${totalPages - 2}</a></li>
                <li class="page-item ${page == totalPages - 2 ? "active" : ""}"><a class="page-link" onclick="changePage(${totalPages - 2})">${totalPages - 1}</a></li>
                <li class="page-item ${page == totalPages - 1 ? "active" : ""}"><a class="page-link" onclick="changePage(${totalPages - 1})">${totalPages}</a></li>`;
            } else {
                pagePage += `
                <li class="page-item disabled"><a class="page-link" aria-disabled="true">...</a></li>`
                for (let i = page - 1; i <= page + 1; i++) {
                    pagePage += `
                    <li class="page-item ${i == page ? "active" : ""}"><a class="page-link" onclick="changePage(${i})">${i + 1}</a></li>`
                }
                pagePage += `
                <li class="page-item disabled"><a class="page-link" aria-disabled="true">...</a></li>
            `
            }
            pagePage += `
                <li class="page-item ${page + 1 >= totalPages ? "disabled" : ""}">
                    <a class="page-link" tabindex="-1" aria-disabled="${page + 1 >= totalPages ? "true" : ""}"
                    ${page + 1 < totalPages ? `onclick="changePage(${page + 1})"` : ""}>Next</a>
                </li>
            </ul>`;
            pageForm.innerHTML = pagePage;
        }

        function renderSortButton() {
            const iconUp = (nameField) => `<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" fill=\"currentColor\" class=\"bi bi-arrow-up-circle\" viewBox=\"0 0 16 16\" onclick=\"onSortField('${nameField}')">` +
                "<path fill-rule=\"evenodd\" d=\"M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z\"/>\n" +
                "</svg>";
            const iconDown = (nameField) => `<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"16\" height=\"16\" fill=\"currentColor\" class=\"bi bi-arrow-down-circle\" viewBox=\"0 0 16 16\" onclick=\"onSortField('${nameField}')">` +
                "<path fill-rule=\"evenodd\" d=\"M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z\"/>\n" +
                "</svg>";
            let nameColumn = document.getElementById("nameColumn");
            let quantityColumn = document.getElementById("quantityColumn");
            let priceColumn = document.getElementById("priceColumn");
            let categoryColumn = document.getElementById("categoryColumn");
            nameColumn.innerHTML = sortField == "nameProduct" && sortBy == "DESC" ? iconDown("nameProduct") : iconUp("nameProduct");
            quantityColumn.innerHTML = sortField == "quantity" && sortBy == "DESC" ? iconDown("quantity") : iconUp("quantity");
            priceColumn.innerHTML = sortField == "price" && sortBy == "DESC" ? iconDown("price") : iconUp("price");
            categoryColumn.innerHTML = sortField == "category" && sortBy == "DESC" ? iconDown("category") : iconUp("category");
        }

        function onSortField(nameField) {
            if (sortField == nameField)
                sortBy = sortBy == "ASC" ? "DESC" : "ASC";
            else
                sortField = nameField;
            console.log(sortBy, sortField);
            initData(0);
        }

        function deleteProduct(id) {
            if (confirm("Delete this? "))
                $.ajax({
                    url: `http://localhost:8080/api/products/${id}`,
                    method: "DELETE",
                }).done(e => {
                        alert("Success!");
                        initData(0);
                    }
                )
        }
        
        function onFilter() {
            maxPrice = +document.getElementById("max").value;
            minPrice = +document.getElementById("min").value;
            initData(0);
        }
    </script>
</div>