<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="player"
     class="jwplayer jw-reset jw-state-paused jw-stretch-uniform jw-breakpoint-6 jw-floating-dismissible jw-flag-user-inactive"
     tabindex="0" aria-label="Trình phát video" role="application"
     style="width: 960px; height: 540px;">
    <iframe src="//haivan.xyz/player/?d=7aa0nGw&amp;v=p&amp;mad=1&amp;"
            width="960" height="540" frameborder="0" allowfullscreen=""></iframe>
</div>
<div id="player2"
     class="jwplayer jw-reset jw-state-paused jw-stretch-uniform jw-breakpoint-6 jw-floating-dismissible jw-flag-user-inactive"
     tabindex="0" aria-label="Trình phát video" role="application"
     style="width: 960px; height: 540px;">
    <iframe src="//haivan.xyz/player/?d=2llBx2Y&amp;v=p&amp;mad=1&amp;"
            width="960" height="540" frameborder="0" allowfullscreen=""></iframe>
</div>
</body>
</html>