<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>CREATE</title>
</head>
<body>
<h2 th:if="${message != null}" th:text="${message}"></h2>
<h3><a href="/demo">Back</a></h3>
<form th:object="${createForm}" action="/demo/create" method="post">
    <fieldset>
        <legend>Create</legend>
        <input name="name" th:value="*{name}" />
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        <input name="price" th:value="*{price}"/>
        <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
        <select name="categoryProduct" th:field="*{categoryId}">
            <option th:value="0">--None--</option>
            <th:block th:each="category : ${categories}">
                <option th:text="${category.name}" th:value="${category.id}"></option>
            </th:block>
        </select>
        <div th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}"></div>
        <button>Submit</button>
    </fieldset>
</form>
</body>
</html>